@media screen and ( max-width: 1200px )
	.menu
		&__item
			padding-right: 20px
		&__link
			font-size: 13px
	.promo
		&-header
			font-size: 50px
	.pool
		&-block__descr
			width: 315px
	.mobile
		&-stand
			width: 300px
			&__title
				font-size: 22px
	.footer
		&-wrapper
			&__info
				width: 320px
				&-main
					a
						font-size: 14px
				&-services
					a
						font-size: 10px
			&__apps
				width: 86%
				a
					&:nth-child(1)    
						margin-right: 5px
					&:nth-child(2)    
						margin-right: 5px
				img 
					width: 80px
					height: 25px

@media screen and ( max-width: 991px )
	.menu
		&__item
			padding-right: 9px
		&__link
			font-size: 10px
	.subheader
		&-logo
			img
				width: 100%
		&-official
			font-size: 11px
		&-phone
			font-size: 19px
		&-button
			height: 41px
			margin-top: 20px
	.promo
		&-header
			font-size: 40px
		&-subheader
			font-size: 30px
	.pool
		&-block
			&__descr
				width: 250px
				margin-top: 20px
			&__round
				width: 100px
				height: 100px
				margin-right: 10px
	.mobile
		&-stand
			width: 230px
			height: 240px
			&__title
				font-size: 18px
			&__plus
				width: 23px
				height: 23px
	.car
		min-height: 800px
		&-photo
			width: 75%
			height: 75%
	.footer
		&-wrapper > div
			&:nth-child(1)
				width: 30%
			&:nth-child(2)
				width: 50%
			&:nth-child(3)
				width: 30%
		&-wrapper
			&__apps
				width: 60%
				height: 50%
				padding-left: 20%
				img
					margin-bottom: 5px
			&___info
				transform: translateX(-6%)
			&__social
				&-item
					width: 29px 
					height: 29px

@media screen and ( max-width:767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0, .8)
        transition: 0.6s all
        &_active
            left: 0
        &__item
            padding-right: 0
            border: none
            margin: 10px 0
            width: 100%
            text-align: center
        &__link	
            font-size: 20px

    .car
        &-photo
            width: 60%
            height: 200px
            margin-top: 85px

    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 10px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            &:nth-child(-n+2)
                margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                &:nth-child(1)
                    margin-bottom: -2px
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    margin-bottom: -2px
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
        
    .subheader
        &-button
            margin-top: 0px
            margin: 0 auto
        &-phone
            margin-bottom: 5px
            text-align: center
    .promo
        &-header
            line-height: 45px
        &-subheader
            font-size: 30px
    .footer
        &-wrapper
            padding-top: 20px
            &__social
                flex-direction: column
                a
                    &:nth-child(-n+4)
                        margin-bottom: 2px
            &__info
                /** transform: translateX(-23%)	 **/
            &__apps
                width: 80%
                height: 80%
                transform: translateX(10px) translateY(20%)
                img
                    width: 65px
                    height: 23px
        &-wrapper > div
            &:nth-child(1)
                width: 20%
            &:nth-child(2)
                width: 60%
            &:nth-child(3)
                width: 20%
                