*{
    font-family: 'Roboto',sans-serif;
}
nav{
    position: fixed;
    width: 100%;
    min-height: 51px;
    background-color: #212121;
    z-index: 5;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu__link{
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.menu__item{
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader{
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
    transform: translateY(51px);
    z-index: 1;
}

.subheader-logo{
    display: block;
    margin-top:16px;
    max-width: 100%;
}

.subheader-official{
    display: block;
    margin-top: 3px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left; 
    color: rgba(255, 255, 255, 0.8);
}
.subheader-call{
    display: block;
    margin-top: 18px;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
.subheader-phone{
    display: block;
    margin-bottom: 26px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
.subheader-button{
    display: block;
    margin-top: 19px;
    border-radius: 4px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    cursor: pointer;

    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.promo{
    min-height: 800px;
    background: url(../img/background1.jpg) center center/cover no-repeat;
    padding: 151px 0 135px 0;
    transform: translateY(51px);
}
.promo-header{
    font-weight: 700;
    font-size:60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}
.promo-subheader{
    margin-top: 15px;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.4;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}
.promo-description{
    margin-top: 23px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.promo-button{
    display: block;
    margin: 118px auto  0 auto;
    border-radius: 4px;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    cursor: pointer;


    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}